<div class="default-container">
    <div class="col-lg">
        <div class="col-lg">
            <div class="input-group">
                <input type="text" ng-model="search_query" ng-keypress="find_articles($event)" class="form-control" />
                <div class="input-group-btn">
                    <button ng-click="find_articles('')" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group">
                <input type="text" ng-model="article_filter" class="form-control" />
                <div class="input-group-btn">
                    <button class="btn btn-default">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <ul ng-init="find_articles('')" class="media-group">
        <li ng-repeat="article in articles.response.docs | filter: article_filter" class="media repeat-item">
            <a href="{{article.web_url}}" ng-show="article.multimedia[0].url" class="pull-right"><img src="http://www.nytimes.com/{{article.multimedia[0].url}}" class="media-object" /></a>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{article.web_url}}">{{ article.headline.main }}</a></h4>
                <p class="media-text">{{ article.lead_paragraph }}</p><small>{{ article.pub_date | date: 'fullDate' }}</small></div>
        </li>
    </ul>
</div>
