footer.text-center.text-muted
    small 
        | (c) {{copyrightYears}} Shojib ngJS.
        br
        | This seed is based on 
        a(href="http://www.angularjs.org") AngularJS, 
        a(href="http://requirejs.org") RequireJS
        | , and 
        a(href="http://jade-lang.com") Jade.