div(ng-if="params == 2")
	div.speed-table.small-grid
		.row(ng-repeat="row in rows track by $index")
			.col-md-1.thumbnail.inline-center(ng-repeat="column in columns", style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)")

	div.speed-table.small-grid
		.row(ng-repeat="row in rows track by $index")
			.col-md-1.thumbnail.inline-center(ng-repeat="column in columns", style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)")

	div.speed-table.small-grid
		.row(ng-repeat="row in rows track by $index")
			.col-md-1.thumbnail.inline-center(ng-repeat="column in columns", style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)")

	div.speed-table.small-grid
		.row(ng-repeat="row in rows track by $index")
			.col-md-1.thumbnail.inline-center(ng-repeat="column in columns", style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)")

div.speed-table.grid
	.row(ng-repeat="row in rows track by $index")
		.col-md-1.thumbnail.inline-center(ng-repeat="column in columns", style="background-color:rgba({{rgba1[column][row]}},{{rgba2[column][row]}},{{rgba3[column][row]}},1)")
			div(ng-bind="cell[column][row]")