.default-container.ng-cloak

  ul.nav.nav-tabs(role='tablist')
    li(role='presentation')
      a(href='#/speedtest/angularjs', aria-controls='angularjs', role='tab', data-toggle='tab') AngularJS
    li(role='presentation', class="active")
      a(href='#/speedtest/reactjs', aria-controls='reactjs', role='tab', data-toggle='tab') ReactJS
      
  br
  .tab-content
      button.btn.btn-primary(ng-click="startTimer()") Start 
      |  
      button.btn.btn-danger(ng-click="stopTimer()") Stop
      
      br
      br
      
      small
        .row(ng-repeat="row in rows track by $index")
          .col-md-1.thumbnail.inline-center(ng-repeat="column in columns", ng-bind="cell[column][row]")