input.form-control(type="checkbox",ng-model="checkbox",ng-if="checkbox")
input.form-control(type="text",ng-model="inputValue",ng-keypress="add($event)")
button.btn.btn-primary(ng-click="add($event)") Add