.default-container
  .dl
    dt
      a.link(ng-href="#/article") Articles
    dd It finds articles based on a keyword given with filter capability.
      br
      br
    dt
      a.link(ng-href="#/poem") Poem
    dd A poem written in two different languages. It shows how i18n could be accomplished. 
      br
      br
    dt
      a.link(ng-href="#/speedtest/angular/1") Speed Test
    dd Speed test against Angular and ReactJS.